.website-logo {
  width: 25rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  border-radius: 10px;
  background-color: rgb(231, 242, 246);
  border: 0;
  padding: 10px;
  transition-duration: 0.4s;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(168, 222, 241);
}

body {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(0, 0, 0);
}
.bodyLight {
  background-color: rgb(194, 217, 224);
  a {
    color: rgba(46, 46, 252, 0.939);
  }
  a:visited {
    color: rgba(46, 46, 252, 0.939);
  }
}

.bodyDark {
  background-color: rgb(3, 3, 149);
  .website-text {
    color: white;
  }
  a {
    color: rgb(117, 209, 239);
  }
  a:visited {
    color: rgb(117, 209, 239);
  }
}
h2 {
  position: sticky;
  top: 0;
  background-color: lightblue;
  border: 2px solid #09449e;
  text-align: center;
}

.solutionlink {
  text-align: center;
}

.organizationlist {
  width: 15rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  text-align: center;
}

.organizationDescription {
  text-align: center;
}

.motable-women {
  position: relative;
}
.notable-women-name {
  text-align: center;
}

.pay-gap-2022 {
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.notable-women-image {
  width: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}

/**
  MEDIA RESPONSE FOR MOBILE DESIGN
*/
@media screen and (max-width: 449px) {
  body {
    font-size: 18px;
    padding: 10px;
  }
  img {
    max-width: 100%;
  }
}

.test {
  margin: 0;
  position: relative;
}
