h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    color: blue
}
body {
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(0, 0, 0)
}
h2 {
  position: sticky;
  top: 0;
  background-color: lightblue;
  border: 2px solid #09449e;
}
